.form-for-write-marker {
  margin-bottom: 7px;
}

.marker-text {
  margin-bottom: 7px;
}

.marker-text.title {
  padding: 1rem;
  font-size: 2rem;
}

.marker-text.content {
  height: 30%;
}

.budget-input>.form-control {
  margin-bottom: 7px;
}
.budget-input>label {
  font-size: 1rem;
}

.panel-location {
}
