.form-for-write-marker {
    height: 40vh;
    margin-bottom: 0;
}

.marker-text {
    margin-bottom: 2rem;

}

.marker-text.title {
    padding: 1rem;
    font-size: 3rem;
}

.marker-text.content {
    width: 100%;
    height: 60%;
}

.budget-input>.form-control {
    margin-bottom: 0;
}
.budget-input>label {
    font-size:34px;
}
