<div class="background-col">
  <div class="container">
    <app-write-post-header (postDuration)="currentPost.duration = $event" (postNation)="getNation($event)"></app-write-post-header>

    <div class="panel panel-primary post-heaer">
      <div class="panel-heading">
        <div>
          Title
        </div>
      </div>
      <div class="panel-body">
        <label for="post-header-title">Title</label>
        <input id="post-header-title" class="post-title form-control" type="text" [(ngModel)]="currentPost.title">
        <label for="post-header-short-content">Description</label>
        <textarea class="form-control" id="post-header-short-content" name="" [(ngModel)]="currentPost.hint"></textarea>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-6 map-for-write">
        <div class="panel panel-primary panel-for-map">
          <div class="panel-heading"><h3>Location</h3></div>
          <div class="panel-body panel-location">
            <sebm-google-map [latitude]="pos[0]" [longitude]="pos[1]" [zoom]="11" (mapClick)="mapClicked($event)" >
              <sebm-google-map-marker *ngFor="let point of paths; let i = index" [latitude]="point.lat" [longitude]="point.lng" [iconUrl]="'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+(i+1)+'|FE6256|000000'" [openInfoWindow]="true" (markerClick)="markerClicked(i)">
              </sebm-google-map-marker>
              <sebm-google-map-polyline>
                <sebm-google-map-polyline-point *ngFor="let point of paths" [latitude]="point.lat" [longitude]="point.lng" > </sebm-google-map-polyline-point>
              </sebm-google-map-polyline>
            </sebm-google-map>
          </div>
        </div>
      </div>
      <!-- <app&#45;writing&#45;panel (marker_content)="currentMarker=$event" [show]="show_writing" [markerValue]="currentMarker"></app&#45;writing&#45;panel> -->
      <app-writing-panel (marker_content)="markerUpdate($event)"  (marker_delete)="markerDelete($event)" [marker_index]="currentMarkerIndex" [show]="show_writing" [markerValue]="currentMarker"></app-writing-panel>
    </div>


    <div *ngFor="let marker of markers; let i = index" class="making-list panel panel-primary">
      <div class="panel-heading"><p>#{{i+1}} :: {{marker.title}}</p></div>
      <div class="panel-body"><p>{{marker.content}}<p><span>예산 : {{marker.budget}} <i class="fa fa-usd" aria-hidden="true"></i></span></p></div>
    </div>

    <div *ngIf="markers.length >= 1">
      <p>총 예산 : {{total_budget}} <i class="fa fa-usd" aria-hidden="true"></i></p>
    </div>

    <button class="btn btn-primary" type="button" (click)="submitPost()">작성 완료</button>
  </div>

</div>

