
.sebm-google-map-container {
  height: 40vh;
  width: 100%;
}
.post-header {
  height: 20vh;
  width: 100%;
}
.background-col{
  background-color: #f6f6f6;
}
.panel-location {
  min-width:423.400px;
  min-height: 273.275px;
}
