
<div class="content one">
    <header>
        <h1><i class="fa fa-plane" aria-hidden="true"></i> Leave Your Footprint</h1>Every footprints that you made on journey

        <form class="form-inline"action="">
            <div class="form-group"><input type="email" class="form-control" placeholder="Your email"></div>
            <button class="btn btn-default">Sign In</button>
        </form>
    </header>
</div>
<div class="content two">
    <header>
        <h1><span class="glyphicon glyphicon-pencil"></span> Share your Own-Journey</h1>Walk, Mark, twittering. That's enough

    </header>
</div>
<div class="content three">
    <header>
        <h1><span class="glyphicon glyphicon-road" aria-hidde="true"></span> Shall We?</h1>Leaving your own-footprint

    </header>
</div>
