
<div class="background-col">
    <div class="sign-up">
        <header>
            <h2 class="sign-up-header">Sign Up</h2><br>
            <form class="form-group">
                <label for="email"class="label-component">Email: </label>
                <input class="input-component" type="text" name="email" [(ngModel)]="newUser.email" placeholder="Enter email" required><br>

                <label for="nickname"class="label-component">Nickname: </label>
                <input class="input-component" type="text" name="nickname" [(ngModel)]="newUser.nickname" placeholder="Enter nickname" required><br>

                <label for="password"class="label-component">Password: </label>
                <input class="input-component" type="password" name="password" [(ngModel)]="newUser.password" placeholder="Enter password" required><br>

                <label for="passwordConfirm"class="label-component">Confirm: </label>
                <input class="input-component" type="password" name="passwordConfirm" [(ngModel)]="passwordConfirm" placeholder="Confirm password" required><br>

                <button class="btn-sign-up" [disabled]="newUser.password!=passwordConfirm" type="button" (click)="signUp()">
                    <span class="glyphicon glyphicon-ok"></span> 가입하기
                </button>
                <div class="password-incorrect" *ngIf="newUser.password!=passwordConfirm">
                    비밀번호가 일치하지 않습니다.
                </div>
            </form>
        </header>
    </div>
</div>
