.form-control {
  margin-bottom: 10px;
}
.sp-btn {
}

.btn-center {
  float: none;
  margin: auto;
}

.search-box {
  height: 100%;
}
.panel-sm{
  width: 50%;
  text-align: center;
  margin: 0 auto;
  margin-top: 60px;
  background-color: rgba(0,0,0,0.4);
  font-family: 'Titillium Web', sans-serif;
}
.tranparent{
  background-color: rgba(0,0,0,0.4);
}
