.form-control {
  margin-bottom: 10px;
}
.sp-btn {
}

.btn-center {
  float: none;
  margin: auto;
}

.search-box {
}
.panel-sm{
  width: 80%;
  text-align: center;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.4);
  font-family: 'Titillium Web', sans-serif;
}
.tranparent{
  background-color: rgba(0,0,0,0.4);
}
