
<div *ngIf="post" class="content">

    <sebm-google-map *ngIf="currentWatchMarker" [latitude]="currentWatchMarker[0]" [longitude]="currentWatchMarker[1]" [zoom]="15" >
        <div class="marker-wrapper" *ngFor="let marker of post.markers; let i = index" >

            <a href="#{{i}}">
                <sebm-google-map-marker  [iconUrl]="'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+(i+1)+'|FE6256|000000'" [latitude]="marker.pos[0]" [longitude]="marker.pos[1]" (click)="console.log('dfkadf')"></sebm-google-map-marker>
            </a>
        </div>
        <sebm-google-map-polyline>
            <sebm-google-map-polyline-point *ngFor="let path of post.markers" [latitude]="path.pos[0]" [longitude]="path.pos[1]"></sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
    </sebm-google-map>
    <div class="col-sm-12">
        <div class="panel panel-primary panel-read-post">
            <div class="panel-heading">
                <h1>{{post.title}}</h1>
                <h3>{{post.duration}} 일 여행</h3>
                <h4>{{post.author}} 님께서 작성 하셨습니다</h4>
            </div>

            <div class="panel-body">
                <p>{{post.hint}}</p>
                <p>총 예산 : {{totalBudget}} <i class="fa fa-usd" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>

    <div class="col-sm-12">

        <div *ngFor="let marker of post.markers; let i = index" class="panel panel-primary" id="{{i}}" (click)="currentWatchMarker=marker.pos">
            <div class="panel-heading">
                <h3>{{i+1}} {{marker.title}}</h3>
            </div>

            <div class="panel-body">
                <p>{{marker.content}}</p>
                <span>예산</span> <br>
                <span>교통 : {{marker.budget[0]}} <i class="fa fa-usd" aria-hidden="true"></i></span>
                <span>숙박 : {{marker.budget[1]}} <i class="fa fa-usd" aria-hidden="true"></i></span>
                <span>식사 : {{marker.budget[2]}} <i class="fa fa-usd" aria-hidden="true"></i></span>
                <span>관광 : {{marker.budget[3]}} <i class="fa fa-usd" aria-hidden="true"></i></span>
                <span>기타 : {{marker.budget[4]}} <i class="fa fa-usd" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <button class="btn btn-danger btn-del-post" (click)="delPost()">삭제</button>
</div>

