.content {
    height: 100vh;
    background-size: cover;
}

.sebm-google-map-container {
    z-index: 20;
    position:fixed;
    top: 50px;
    height: 35vh;
    width: 100%;
}
.panel-read-post {
    margin-top : 37vh;
}
.btn-del-post {
    position: fixed;
    z-index: 21;
    bottom: 25px;
    right: 30px;
}
