.content {
    height: 100vh;
    background-size: cover;
    background-image: url('https://source.unsplash.com/category/nature/1600x900');
}
.sebm-google-map-container {
    z-index: 20;
    position:fixed;
    top: 50px;
    height: 35vh;
    width: 100%;
}
.panel-read-post {
    margin-top : 37vh;
}
