
<div *ngIf="post" class="content">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h1>{{post.title}}</h1>
            <h3>{{post.duration}}</h3>
            <h4>{{post.author}}</h4> 
        </div>

        <div class="panel-body"> 
            <p>{{post.hint}}</p>
        </div> 
    </div>


    <sebm-google-map *ngIf="post.markers" [latitude]="post.markers[0].pos[0]" [longitude]="post.markers[0].pos[1]" [zoom]="10" >
        <sebm-google-map-marker *ngFor="let marker of post.markers; let i = index"  [iconUrl]="'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld='+(i+1)+'|FE6256|000000'" [latitude]="marker.pos[0]" [longitude]="marker.pos[1]"></sebm-google-map-marker>
        <sebm-google-map-polyline>
            <sebm-google-map-polyline-point *ngFor="let path of post.markers" [latitude]="path.pos[0]" [longitude]="path.pos[1]"></sebm-google-map-polyline-point>
        </sebm-google-map-polyline>
    </sebm-google-map>

    <div *ngFor="let marker of post.markers" class="panel panel-default">
        <div class="panel-heading">
            <h1>{{marker.title}}</h1>
        </div>

        <div class="panel-body"> 
            <p>{{marker.content}}</p>
            <p>{{marker.budget}}$</p>
        </div> 
    </div>
</div>

